In [ ]:
"""
Zadanie

Proszę o pobranie danych ze źródła:
https://archive.ics.uci.edu/ml/datasets/Wholesale+customers

Przeprowadzenie normalizacji w zakresie [0,1] na kolumnach z wyłączeniem kolumny Channel i Region.

Przeprowadzenie normalizacji w zakresie [-1,1] na kolumnach z wyłączeniem kolumny Channel i Region.

Przeprowadzenie standaryzacji danych na kolumnach z wyłączeniem kolumny Channel i Region.  
"""

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [2]:
df = pd.read_csv('Wholesale customers data.csv')
columns_to_normalize = [col for col in df.columns if col not in ['Channel', 'Region']]

In [3]:
normalize_scaler = MinMaxScaler()
second_normalize_scaler = MinMaxScaler(feature_range=(-1,1))
standard_scaler = StandardScaler()

In [17]:
df[columns_to_normalize] = normalize_scaler.fit_transform(df[columns_to_normalize])
#df.to_csv('standarized.csv', index=False)

In [18]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,0.106977,0.078173,0.085671,0.050078,0.070510,0.031745
std,0.468052,0.774272,0.112774,0.100491,0.102430,0.079789,0.116790,0.058826
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,0.027863,0.020124,0.023174,0.011788,0.006216,0.008453
50%,1.000000,3.000000,0.075802,0.048636,0.051225,0.024670,0.019927,0.020077
75%,2.000000,3.000000,0.150968,0.097154,0.114821,0.058005,0.095997,0.037907
max,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
df[columns_to_normalize] = second_normalize_scaler.fit_transform(df[columns_to_normalize])

In [26]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,-0.786045,-0.843654,-0.828658,-0.899844,-0.858980,-0.936509
std,0.468052,0.774272,0.225547,0.200982,0.204860,0.159578,0.233581,0.117651
min,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,2.000000,-0.944275,-0.959751,-0.953652,-0.976423,-0.987569,-0.983093
50%,1.000000,3.000000,-0.848397,-0.902727,-0.897550,-0.950661,-0.960146,-0.959846
75%,2.000000,3.000000,-0.698064,-0.805693,-0.770358,-0.883990,-0.808005,-0.924186
max,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
df[columns_to_normalize] = standard_scaler.fit_transform(df[columns_to_normalize])

In [24]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02
mean,1.322727,2.543182,-1.413011e-17,1.614870e-17,-3.229740e-17,-4.037175e-18,-1.614870e-17,-8.074349e-18
std,0.468052,0.774272,1.001138e+00,1.001138e+00,1.001138e+00,1.001138e+00,1.001138e+00,1.001138e+00
min,1.000000,1.000000,-9.496831e-01,-7.787951e-01,-8.373344e-01,-6.283430e-01,-6.044165e-01,-5.402644e-01
25%,1.000000,2.000000,-7.023339e-01,-5.783063e-01,-6.108364e-01,-4.804306e-01,-5.511349e-01,-3.964005e-01
50%,1.000000,3.000000,-2.767602e-01,-2.942580e-01,-3.366684e-01,-3.188045e-01,-4.336004e-01,-1.985766e-01
75%,2.000000,3.000000,3.905226e-01,1.890921e-01,2.849105e-01,9.946441e-02,2.184822e-01,1.048598e-01
max,2.000000,3.000000,7.927738e+00,9.183650e+00,8.936528e+00,1.191900e+01,7.967672e+00,1.647845e+01